/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar{
    text-align: center;
}
.direita{
    text-align: right;
}
body{
    background-color: rgb(173, 250, 224);
}
.swal-overlay {
    z-index: 2000 !important; /* Escolha um valor maior que o z-index do seu modal */
}
.modal-backdrop {
    z-index: 1050;
  }
  
.modal {
    z-index: 1060;
}
  